In [82]:
from mxnet import ndarray as nd

In [83]:
import pandas as pd

In [84]:
import numpy as np

## 请记住, data alignment is intrinsic
我理解为：标签和数据是一对一的
index和数据也是一一对应的

In [85]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [86]:
s

a    1.575511
b    2.909541
c    0.337388
d    0.342014
e   -1.740802
dtype: float64

In [87]:
train = pd.read_csv("../data/kaggle_house_pred_train.csv")

In [88]:
train.head(n=1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500

In [89]:
test = pd.read_csv("../data/kaggle_house_pred_test.csv")

In [90]:
test.head(1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal

In [91]:
train.index

RangeIndex(start=0, stop=1460, step=1)

In [92]:
train.shape

(1460, 81)

In [93]:
test.shape

(1459, 80)

In [94]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [95]:
s2 = pd.Series(np.random.randn(5))

In [96]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [97]:
d = {'a': 0., 'b': 1., 'c': 2.}

In [98]:
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [99]:
pd.Series(d, ['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [100]:
pd.Series(5, ['a', 'b', 'c', 'd'])

a    5
b    5
c    5
d    5
dtype: int64

In [101]:
s

a    1.575511
b    2.909541
c    0.337388
d    0.342014
e   -1.740802
dtype: float64

In [102]:
s[0]

1.5755108480654234

In [103]:
type(s)

pandas.core.series.Series

In [104]:
s[1:3]

b    2.909541
c    0.337388
dtype: float64

In [105]:
s.median()

0.3420144143958583

In [106]:
s>s.median()

a     True
b     True
c    False
d    False
e    False
dtype: bool

In [107]:
z = s>s.median()
z

a     True
b     True
c    False
d    False
e    False
dtype: bool

In [108]:
s [z]

a    1.575511
b    2.909541
dtype: float64

In [109]:
s[[4,3,1]]

e   -1.740802
d    0.342014
b    2.909541
dtype: float64

In [110]:
s

a    1.575511
b    2.909541
c    0.337388
d    0.342014
e   -1.740802
dtype: float64

In [111]:
np.exp(s)

a     4.833210
b    18.348377
c     1.401282
d     1.407781
e     0.175380
dtype: float64

In [112]:
s['a']

1.5755108480654234

In [114]:
s['e'] = 12

In [115]:
s

a     1.575511
b     2.909541
c     0.337388
d     0.342014
e    12.000000
dtype: float64

In [116]:
'e' in s

True

In [117]:
'f' in s

False

In [122]:
s[0] == s['a']

True

In [125]:
s.get('f', np.nan)

nan

In [128]:
s['f'] = 'a'

In [129]:
s

a     1.57551
b     2.90954
c    0.337388
d    0.342014
e          12
f           a
dtype: object

## Vectorized operations and label alignment with Series